{% extends 'base.html' %}
{% block content %}
<div class="container bg-dark-subtle top-50 start-50 justify-content-center align-self-center col-md-8 ms-auto position-absolute translate-middle border border-dark border-2 rounded-3">
    <h4 class="card-title m-4 text-center">Authentication page</h4>
    <div class="container">
            <div class="row mb-2">
                <div class="col">
                    <P><b>About:</b></P>
                </div>
                <div class="col">
                <p>This is the authentication page for user, User can easily log in and register.</p>
                </div>
            </div>
        <div class="row mb-2">
                <div class="col">
                    <p><b>material:</b></p>
                </div>
                <div class="col">
                <p>Python, Django, HTML, CSS, JavaScripts, Boootstrap, Database(sqlite)</p>
                </div>
            </div>
        <div class="row mb-2">
                <div class="col">
                    <p><b>Class:</b></p>
                </div>
                <div class="col">
                <p>models, Admin, Form, UserAdmin, BaseUserManager, AbstractBaseUser, Phone_field, CaptchaField,</p>
                </div>
            </div>
        <div class="row mb-2">
                <div class="col">
                    <p><b>Functions:</b></p>
                </div>
                <div class="col">
                <p>model, include, render, redirect, messages.info(), messages.success(), messages.error(), authenticate, login, login_required, logout</p>
                </div>
            </div>
    </div>
</div>
{% endblock content %}
