{% extends 'base.html' %}
{% block content %}
<div class="container bg-dark-subtle top-50 start-50 justify-content-center align-self-center col-md-8 ms-auto position-absolute translate-middle border border-dark border-2 rounded-3">
    <h4 class="card-title m-4 text-center">Authentication:</h4>
    <div class="container">
            <div class="row mb-2">
                <div class="col">
                    <P><b>Founder:</b></P>
                </div>
                <div class="col">
                <p>Sanket Hirani.</p>
                </div>
            </div>
        <div class="row mb-2">
                <div class="col">
                    <p><b>Start Date:</b></p>
                </div>
                <div class="col">
                <p>1 July,2023</p>
                </div>
            </div>
        <div class="row mb-2">
                <div class="col">
                    <p><b>End Date:</b></p>
                </div>
                <div class="col">
                <p>14 July,2023</p>
                </div>
            </div>
        <div class="row mb-2">
                <div class="col">
                    <p><b>Contact:</b></p>
                </div>
                <div class="col">
                <p>(+91) 81559 47540</p>
                <p>At: Bagdu, Dist: Junagadh</p>
                <p>state: Gujarat, india</p>
                <p>pincode: 362 263</p>
                </div>
            </div>
    </div>
</div>
{% endblock content %}
